/*Header*/

.menu-bar {
  left:200px; 
}

.container {
  display: flex;
}

.logo {
  width: 300px;
  height: 108px;
  line-height: 100px;
}

.logo img {
  width:200px;
  height:100px;
}

.main-menu {
  display: flex;
}

.menu ul {
  list-style-type: none;
  text-align: center;
}

.menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 25px;
  height: 50px;
  line-height:100px;
  margin-left: 45px;
}

.menu a {
  text-decoration: none;
  color: black;
  display: block;
}
.menu a:hover {
  color :red;
  text-decoration: underline; 
}

.icon {
  padding-left:300px;
  line-height:100px;
}

/*Main*/

.background-login img {
  width:1360px;
  height:300px;
  padding-left:160px;
}

.background-login h1 {
  position:absolute;
  top:250px;
  left:700px;
  color:white;
}

.fa-home {
    position:absolute;
    top:300px;
    left:700px;
}

.background-login h6 {
  position:absolute;
  top:298px;
  left:720px;
}

.fa-angle-double-right {
  position:absolute;
  top:300px;
  left:770px;
}

.background-login a {
  position:absolute;
  top:294px;
  left:790px;
}

.join-login {
  display:flex;
}


.login {
  padding-left:710px;
  padding-top:100px;
}
.login a {
  color:red;
}

.text-login{
  padding-top:40px;
}

.text-login button{
  background-color: rgb(41, 41, 41);
  width: 570px;
  height: 60px;
} 


